


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: url('/src/images/orangeBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

/* text colors */
.text-white {
  color:#f1f1f1;
}

footer {
  background: url('/src/images/orangeBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 20px;

}

.list-unstyled li a {
  color: white;
}

.copywrite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: 1px solid orange;
  background-color: black;
  width: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  
  
  
}


.logo-title {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  margin-top: -4;
  
 
}

/* Start header section styling area */

.header {
  width: 100%;
  background-color: #ffa500;
  background-image: url(./images/sling-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 40px;
  padding-top: 10px;
  border: 2px solid #ffa500;
  color: #fff;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.website-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}




.left-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
}

.right-column {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.header-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.motto {
  margin: 0;
  font-size: 14px;
  color: #944b02;
}

.desc {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin: 20px 0;
  font-size: 1.2rem;
}

.header-action-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.action-btn {
  padding: 10px 20px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #FFA500, #FF4500);
  color: white;
  font-size: 1rem;
  margin-bottom: 10px;
  margin-right: 2px;
}

.how-buy {
  margin-left: 10px;
  font-size: 1rem;
  color: white;
  text-decoration: none;
  border: 1px solid brown;
  padding: 5px;
}

@media (min-width: 768px) {
  .header-container {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .right-column {
    margin-left: 50px;
  }

  .desc {
    text-align: left;
    font-size: 1.5rem;
  }
}


.right-column {
  display: none; /* Hide the right-column by default */
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.message-container {
  border: #944b02;
  border-radius: 10px;
  padding: 10px;
}

.close-btn {
  background: none;
  padding: 2px;
}

.buy-btn-message {
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .right-column {
    display: flex; /* Display the right-column on screens larger than 768px */
    margin-left: 50px;
  }
}




/* End of styling Heading area */





/* start of roadmap stying */

.roadmap {
 
  margin: 10px;
  padding: 20px;
 border: 2px solid rgb(119, 78, 2);
 border-radius: 10px;
}

.roadmap-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  
  
}


.roadmap-item {
  margin: 10px;
  border: #096dd9 2px solid;
  padding: 20px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #ffcc00, #ff7f00);
  color: #ffffff;
}

/* End of roadmap style */




/* Begin the team styling */

.team {
  border: 2px solid rgb(119, 78, 2);
  border-radius: 10px;
  padding: 10px;
}

.team-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem;
  width: 65%;
  text-align: center;
  color: white;
}

.team-desc p {
  width: 60%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  

}

.team-details {
  display: flex;
  flex-direction: row;
}

.lead-member {
  background-image: linear-gradient(45deg, #5b4d17, #010101);
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.member3-card {
  background-image: linear-gradient(45deg, #5b4d17, #010101);
  border-radius: 10px;
  padding: 10px;
  color: white;
}

.team-details img {
  width: 50px;
  height: 50px;
  
}


@media (max-width: 767px) {
  .team-desc p {
    width: 100%;
    font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  
  }
}

/* end of team members area styling */




/* start token-info style-------------- */

.token-info {
  border: 2px solid rgb(119, 78, 2);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  
}

.token-content {
  color: white;
  margin: 0;
}

.sales-info  {
  font-size: 1rem !important;
  padding: 20px;
}


 .space-above {
  margin-top: 200px;
}


.style-top-holder{
  background-image: linear-gradient(to right, #FFA500, #FF4500);
  padding: 20px;

}


/* End token-info style-------------- */









/*End Table style for Top Holder List */






.primary-btn {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: rgb(231, 165, 165, 0.5);
  color: rgb(7, 7, 7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.primary-btn:hover {
  border: 2px green solid;
  color: rgb(255, 255, 255);
}


.whitepaper {
  font-size: 2rem;
  color: white;
}

/* just used for space place holder */


.social-link{
  color: white;
  margin: 2px;
}

/* start winbuy styling area */

.winbuy-container {
  display: flex;
  justify-content: center;
}

.winbuy-content {
  width: 700px;
  padding: 10px;
}


/* end winbuy styling area */


/* Ecosystem and utility area */
.ecosystem-container {
  margin: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-bottom: 10px; /* Add a small bottom padding for visual spacing */
}



.ecosystem-heading {
  text-align: center;
  font-size: 24px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.ecosystem-row {
  display: flex;
}

.util-column {
  position: relative;
  flex: 0 0 auto;
  margin: 10px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #333333, #000000);
  color: #fff;
  border: 3px orange solid;
  padding: 20px;
  width: 300px; /* Adjust the width of the columns as per your preference */
  box-sizing: border-box;
}

.util-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.util-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.launch-button {
  position: absolute;
  bottom: 0;
  margin-top: 20px;
  margin-bottom: 2px;
  background-image: linear-gradient(to right, #FFA500, #FF4500);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}



.launch-button:hover {
  background-color: #000000 !important;
}

.ecosystem-wrapper {
  display: flex;
  overflow-x: scroll;
}


.ecosystem-scroll-container {
  margin-right: -10px; /* Adjust the value as needed */
  padding-right: 10px; /* Adjust the value as needed */
  max-width: 100%;
  overflow-x: auto;
}

.scroll-indicator {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  cursor: pointer;
}

.scroll-indicator span {
  font-size: 24px;
}


/* Optional: Custom scrollbar styles */
.ecosystem-scroll-container::-webkit-scrollbar {
  width: 8px;
}

.ecosystem-scroll-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.ecosystem-scroll-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.ecosystem-scroll-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}



.status-btn {
  padding: 3px;
  border-radius: 5px;
  background-image: linear-gradient(45deg, #333333, #000000);
  color: #c5c5c5;
}


@media screen and (max-width: 768px) {
  .ecosystem-scroll-container {
    margin-right: -20px; /* Adjust the value as needed */
    padding-right: 20px; /* Adjust the value as needed */
  }
}



/* end of ecosystem styling */



